img {
  min-height: 100%;
  width: 100%;
}

.barname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-md-3 {
  border: 1px solid black;
}

.container {
  margin-top: 40px;
}

.image {
  overflow: hidden;
  height: 200px;
}

.input-group {
  padding-bottom: 20px;
}

.onecomponent {
  height: 400px;
}

/* #location {
  max-width: 300px;
} */
