html
  head
    meta(charset="utf-8")
    title Nighttime app
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="/style.css")

  body
    div.container.container-fluid.text-center
      h1 Nightlife coordination app
      h6 A Free Code Camp project
      if signedIn
        p Hi #[span= name]
      else
        p Please sign in
        div.input-group
          input.form-control#location(type="text" name="symbol" placeholder="Location" aria-label="Location" aria-describedby="Location")
          div.input-group-append
            button.btn.btn-primary#addSeries(type="submit") Add
      div#root
    footer
      script(src="/bundle.js" charset="utf-8")
      script(src="https://unpkg.com/prop-types@15.6/prop-types.min.js")
